/**
* @Desc 仅存放项目头部样式
* @Date 2018-09-17 00:50:25
* @Author qitian
*/

.mody-header {
    height: 64px;
    background: #25a3f7;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.mody-header h2 {
    margin-left: 10px;
    color: #fff;
    float: left;
    height: 50%;
}

.pull-right {
    margin: 14px;
    line-height: 64px;
}

.header-navbar {
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;
    color: #fff;
}

.header-navbar a {
    color: #fff;
}

.header-navbar ul {
    min-width: 90px !important;
    max-width: 160px;
}

.nav-pills>li {
    float: right !important;
}

.caret {
    margin-left: 6px;
}

.header-navbar .dropdown-toggle:hover {
    background: #25a3f7 !important;
}

.nav .open>.dropdown-toggle, .nav .open>.dropdown-toggle:focus, .nav .open>.dropdown-toggle:hover {
    background: none !important;
}

.head-left {
    height: 100%;
    width: 40%;
    float: left;
    margin-right: 30%;
}

.logo-head {
    float: left;
    height: 100%;
    color: #fff;
    margin-top: 20px;
}

.title-head {
    float: left;
    font-size: 18px;
    font-weight: initial;
}

.title-line {
    float: left;
    background-color: #fff;
    height: 45%;
    width: 0.2%;
    margin-left: 5%;
    margin-top: 15px;
}

.index-img {
    height: 100%;
    margin-left: 5%;
    color: #fff;
}

.title-index {
    color: #fff;
    height: 100%;
    font-size: 16px;
    margin-left: 10%;
}

.index-header {
    float: left;
    width: 37%;
    height: 100%;
    padding: 20px;
}

.user-img {
    margin-right: 5%;
}

.user-role {
    margin-right: 5%;
}

.role-line {
    margin-right: 5%;
}
/*下拉按钮*/
.nav-check {
    margin:-15px auto;
    text-align:center;
}
.nav-check ul {
    /*border-radius:10px;*/
    /*background:linear-gradient(to bottom,#efefef,#bbbbbb);*/
    padding: 0px 0px;
    display:inline-table;
    position:relative;
    /*box-shadow:1px 1px 3px #666;*/
    list-style: none;
}
.nav-check ul ul {
    display:none;
}
.nav-check ul li {
    float:left;
}
.nav-check ul::after {
    content:"";
    display:block;
    clear:both;
}
.nav-check ul li a {
    display:block;
    padding: 15px 0px;
    /*color:#000;*/
    text-decoration:none;
    font-family:"微软雅黑";
}
.nav-check ul li:hover > ul {
    display:block;
}
.nav-check ul li:hover {
    /*background:linear-gradient(to bottom,#4f5964,#5f6975);*/
}
.nav-check ul li:hover a {
    /*color:#FFF;*/
}
.nav-check ul ul {
    background:#5f6975;
    border-radius:0;
    position:absolute;
    top:100%;
    padding:0;
    margin-left: 0px;
}
.nav-check ul ul li {
    float:none;
    border-top:1px solid #6b727c;
    border-bottom:1px solid #575f6a;
}
.nav-check ul ul li a {
    color:#FFF;
}
.nav-check ul ul li a:hover {
    background:#4b545f;
}
.nav-check ul ul ul {
    width:100%;
    position:absolute;
    left:100%;
    top:50%;
}
